<!--Footer de la aplicacion-->
<footer class="bg-dark text-center text-white">
  <div class="container p-2">
    <section class="">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0" id="contactenos">
          <h2 i18n class="hover">Contact us</h2>
          <div class="text-nowrap" style="width: 8rem;">
            <p class="text-left">
              <fa-icon [icon]="faPhone"></fa-icon> + 57 3137893058
            </p>
            <p class="text-left">
              <fa-icon [icon]="faEnvelope"></fa-icon> h.galindos@uniandes.edu.co
            </p>
            <p class="text-left">
              <fa-icon [icon]="faEnvelope"></fa-icon> zlaifer619@gmail.com
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0" id="social-media">
          <h2 i18n class="hover">Follow us on our social media</h2>
          <div>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" aria-label="Ir a facebook">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" aria-label="Ir a Instagram">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" aria-label="Ir a whastapp">
              <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" aria-label="Ir a twitter">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" aria-label="Ir a Linkedin">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0" id="regsitrarse">
          <h2 i18n class="hover">Sign up for more content</h2>
          <form class="row gy-8 gx-3 align-items-center">
            <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
              <div class="form-outline">
                <input type="text" id="formEmail" class="form-control" placeholder="email@example.com" />
                <label class="form-label" for="formEmail" hidden="true"></label>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <button i18n type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" id="copy-right">
    © 2022 Copyright:
    <a class="text-white" href="#">The E9</a>
  </div>
</footer>
