.formMargin{
  margin: 1%;
}

a[href] {
  text-decoration: none;
  color: white;
}

.hover:hover {
  border-bottom: 5px solid rgb(139, 167, 235);
  padding-bottom: 10px;
}

.current-page {
  color: rgb(170, 167, 167);
}
