<main>
  <!--Breadcrumb trail-->
  <div class=" d-none d-sm-block">
    <div class="row bg-dark">
      <nav aria-label="breadcrumb d-none d-sm-block">
        <div class="container-fluid">
          <ol class="breadcrumb">
            <li i18n class="breadcrumb-item hover"><a href="#">
                <fa-icon [icon]="faHome"></fa-icon> Home
              </a>
            </li>
            <li i18n class="breadcrumb-item hover"><a [routerLink]="'/museums'">
                <fa-icon [icon]="faBuildingColumns"></fa-icon> Museums
              </a>
            </li>
            <li i18n class="breadcrumb-item active current-page" aria-current="page">
              <fa-icon [icon]="faBuildingColumns"></fa-icon> Update museum
            </li>
          </ol>
        </div>
      </nav>
    </div>
  </div>
  <div class="container" *ngIf="museum !== undefined">
    <!--Update form-->
    <h2 class="text-center formMargin" id="lblNewMuseum">Update {{museum.name}}</h2>
    <form [formGroup]="museumForm" (ngSubmit)="!museumForm.invalid && updateMuseum(museumForm.value)" id="updateForm">
      <!--Name-->
      <div class="form-group formMargin">
        <label i18n for="name">Name</label>
        <input novalidate id="name" class="form-control" formControlName="name" placeholder="Museum name" />
        <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="
          museumForm.get('name')!.hasError('required') &&
          museumForm.get('name')!.touched">
          Name required
        </div>
        <div i18n class="alert alert-danger alert-dismissible fade show"
          *ngIf="museumForm.get('name')!.hasError('minlength')">
          Name too long
        </div>
      </div>
      <!--Description-->
      <div class="form-group formMargin">
        <label i18n for="description">Description</label>
        <input novalidate id="description" class="form-control" formControlName="description"
          placeholder="Museum description" />
        <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="
        museumForm.get('description')!.hasError('required') &&
        museumForm.get('description')!.touched">
          Description required
        </div>
        <div i18n class="alert alert-danger alert-dismissible fade show"
          *ngIf="museumForm.get('description')!.hasError('maxlength')">
          Description too long
        </div>
      </div>
      <!--Address-->
      <div class="form-group formMargin">
        <label i18n for="address">Address</label>
        <input novalidate id="address" class="form-control" formControlName="address" placeholder="Museum address" />
        <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="
        museumForm.get('address')!.hasError('required') &&
        museumForm.get('address')!.touched">
          Address required
        </div>
        <div i18n class="alert alert-danger alert-dismissible fade show"
          *ngIf="museumForm.get('address')!.hasError('maxlength')">
          Address too long
        </div>
      </div>
      <!--City-->
      <div class="form-group formMargin">
        <label i18n for="city">City</label>
        <input novalidate id="city" class="form-control" formControlName="city" placeholder="Museum city" />
        <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="
        museumForm.get('city')!.hasError('required') &&
        museumForm.get('city')!.touched">
          City required
        </div>
        <div i18n class="alert alert-danger alert-dismissible fade show"
          *ngIf="museumForm.get('city')!.hasError('maxlength')">
          City too long
        </div>
      </div>
      <!--Image-->
      <div class="form-group formMargin">
        <label i18n for="image">Image</label>
        <input novalidate id="image" class="form-control" formControlName="image"
          placeholder="URL with the image of the museum" />
        <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="
          museumForm.get('image')!.hasError('required') &&
          museumForm.get('image')!.touched">
          Image required
        </div>
      </div>
      <!--Is Blocked-->
      <div class="form-group formMargin form-check">
        <input novalidate id="isBlocked" class="form-check-input" type="checkbox" formControlName="isBlocked" />
        <label i18n class="form-check-label" for="isBlocked">Museum is blocked</label>
      </div>
      <!--Buttons-->
      <button i18n type="submit" class="btn btn-primary formMargin" [disabled]="!museumForm.valid">
        Update
      </button>
      <button i18n type="button" class="btn btn-danger formMargin" (click)="cancelUpdate(museum.id)">
        Cancel
      </button>
    </form>
  </div>
</main>
