.card-margin {
  margin: 5px;
}

.list-margin {
  margin: 10px;
}

.hover:hover {
  border-bottom: 5px solid rgb(139, 167, 235);
  padding-bottom: 10px;
}

a[href] {
  text-decoration: none;
  color: white;
}

img {
  max-width: auto;
  height: 250px;
}

.hover-opacity img:hover {
  opacity: .5;
}

.current-page {
  color: rgb(170, 167, 167);
}
